server:
  port: 8084

eureka:
  client:
    fetchRegistry: true
    registerWithEureka: true
    serviceUrl:
      defaultZone: http://discovery-server:8761/eureka
  eureka:
    instance:
      prefer-ip-address: true
      non-secure-port: 8084
      metadata-map:
        instance-id: ${spring.application.name}:${instanceId:${random.value}}

spring:
  data:
    mongodb:
      uri: mongodb://mongo:27017/filterdb
    redis:
      host: redis
  application:
    name: filter-service
  cloud:
    config:
      enabled: false
  config:
    import:
      optional:classpath:
  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: http://keycloak:8080/auth/realms/RentACarMicroservice/protocol/openid-connect/certs
  zipkin:
    base-url: http://zipkin:9411
  kafka:
    consumer:
      auto-offset-reset: earliest
      bootstrap-servers: kafka:9092
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      properties:
        spring:
          json:
            trusted:
              packages: "*"
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer

management:
  endpoint:
    metrics:
      enabled: true
    prometheus:
      enabled: true
  endpoints:
    web:
      exposure:
        include: "*"
  metrics:
    export:
      prometheus:
        enabled: true